html,
body {
  padding: 0;
  font-family: "Chivo", sans-serif;
  color: #104d0a;
  position: relative;
}

.svg-contains {
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
}

.LogoBtn {
  /* text */
  font-family: "Fredoka", sans-serif;
  color: #ffbd13;
  font-size: 35px;

  /* button */
  border-radius: 50px 50px 50px 50px;
  border: none;
  width: 300px;
  height: 60px;
  background-color: #104d0a;
  box-shadow: 0px 6px 12px #17171765;

  margin: 0;
  padding: 3px 22px 14px;
  z-index: 1;
}

.pasta-logo {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 63px;
}

.text-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 1.2rem 0 1.5rem;
}

.header-textbox {
  z-index: 1;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

.row-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-left: 30px;
  height: 110px;
}

.number {
  font-family: "Dongle", sans-serif;
  font-size: 120px;
  color: #899b87;
  margin: 0;
  padding: 0;
  line-height: 140px;
}

.row-text {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 270px;
  height: min-content;
  font-size: 18px;

  margin-left: 15px;
  margin-top: 40px;
}

.row-text-two {
  text-align: right;
  margin: 0px;
  margin-top: 25px;
  padding-right: 20px;
}

.StartBtn {
  /* text */
  font-family: "Fredoka", sans-serif;
  color: #000;
  font-size: 24px;

  /* button */
  border-radius: 50px;
  border: none;
  width: 340px;
  height: 54px;
  background-color: #ffbd13;
  box-shadow: 0px 6px 12px #17171765;

  margin: 0 0 1rem;
  z-index: 1;
}

.static-container {
  position: relative;
  margin: 17rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.static-container * {
  z-index: 1;
}
