.empty-state img {
  max-width: 200px;
}

.empty-state h4 {
  color: rgb(75, 75, 75);
  line-height: 1.6rem;
  margin-top: .8rem;
  width: 250px;
}

.empty-state p {
  color: gray;
  font-size: 16px;
  line-height: 1.3rem;
  margin-top: .2rem;
  margin-bottom: 1.9rem;
}

.recipe-grid {
  margin-top: 7rem;
  color: white;
  font-family: "Fredoka", sans-serif;
}

.recipe-grid h2 {
  margin-bottom: 1.2rem;
}

.recipe-grid a {
  text-decoration: none;
}

article {
  font-family: "Chivo", sans-serif;
  font-size: 1.2rem;
  color: #000;
  background-color: white;
  margin: 1rem .8rem;
  padding: 1.8rem .85rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px #20202036;
}

article img {
  margin-bottom: .85rem;
}

article p {
  margin: 0;
}
