.greenCircle {
    position: absolute;
    width: 100%;
    background-color: #104D0A;
    border-radius: 50%;
    /* z-index: -1; */
    /* overflow-x: hidden; */
    

} 

.greenCircleContainer
{
    height: auto!important;
    width: 100vw!important;
    overflow: hidden;
}
