@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar {
    z-index: 2;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Position it at the top */
    width: 100%; /* Full width */
    font-family: 'Fredoka One', cursive;
    color: #FFBD13;
    display: flex;
    justify-content: space-between; /* Change this line */
    max-width: 100vw;
}

.navbar__menu {
    position: absolute;
    margin-top: 50px;
    top: 100%;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.navbar__menu.open {
    transform: scale(1.2);
}

.navbar__hamburger {
    margin-top: 5px;
    cursor: pointer;

    width: 50px; /* Adjust this value to your liking */
}
.navbar__hamburger img {
    width: 100%;
    height: auto;
}
/* 
.navbar__logo {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10rem;
    transition: all 0.3s ease-in-out;
    font-size: 30px; 
}

.navbar__logo.move-left {
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    position: absolute;
    left: 0;
    margin-left: 10px;
} */

.navbar__logo {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10rem;
    transition: all 0.3s ease-in-out;
    font-size: 30px; /* Adjust this value to your liking */
}

.navbar__logo.move-left {
    transition: all 0.3s ease-in-out;
    position: fixed; /* Change from absolute to fixed */
    left: 0;
    margin-left: 10px;
}


.navbar__menu ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    margin-top: 30px; /* Add space at the top */
}

.navbar__menu li {
    display: flex; /* Align items side by side */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Space out list elements */
}

.navbar__menu li img {
    margin-right: 10px; /* Add some space between the image and the text */
}

.navbar__menu li a {
    color: #FFBD13; /* Change link color to yellow */
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

.navbar__menu li {
   animation-name: fadeIn;
   animation-duration: .2s;
   animation-fill-mode:both;
}

.navbar__menu li:nth-child(1) {animation-delay:.1s;}
.navbar__menu li:nth-child(2) {animation-delay:.2s;}
.navbar__menu li:nth-child(3) {animation-delay:.25s;}
.navbar__menu li:nth-child(4) {animation-delay:.3s;}

/* Media queries for different screen sizes */

@media only screen and (max-width : 320px) {
   .navbar__logo {font-size :20px;}
   .navbar__hamburger {width :40px;}
}

@media only screen and (min-width :321px) and (max-width :480px) {
   .navbar__logo {font-size :25px;}
   .navbar__hamburger {width :45px;}
}

@media only screen and (min-width :481px) and (max-width :768px) {
   .navbar__logo {font-size :30px;}
   .navbar__hamburger {width :50px;}
}
