@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar {
    position: relative; /* Make sure this is relative */
    font-family: 'Fredoka One', cursive;
    color: #FFBD13;
    display: flex;
    justify-content: space-between;
}

.navbar__menu {
    position: absolute; /* Add this */
    top: 100%; /* Add this */
    left: 0; /* Add this */
    transition: all 0.3s ease-in-out;
}

.navbar__menu.open {
    transform: scale(1.2);
}

.navbar__hamburger {
    cursor: pointer;
}
