:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 370px;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
